// Colors
$brand-color-yellow: #f1c62c;
$brand-color-green: #006132;
$brand-color-second-green: #6EC656;
$brand-color-grey: #F2F2F2;
$brand-color-second-grey: #5F5F5F;
$brand-color-text-grey: #969f94;

$color-grey: #777;

// Screen Size
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
