.category-child__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.category-child__item {
  flex-shrink: 0;
  margin-right: 20px;
}

.category-child__img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;

  overflow: hidden;
}

.category-child__img img {
  max-width: 100%;
  height: auto;
}

.category-child__title {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
}
