.main-header-menu {
  position: relative;

  background-color: $brand-color-green;
}

.main-header-menu__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header-menu__nav {
  margin-left: -20px;
  margin-right: -20px;
}

@include tablet-size {
  .main-header-menu__container {
    display: flex;
    justify-content: space-between;
  }

  .main-header-menu__nav {
    display: flex;
    align-items: center;

    margin-left: 0;
    margin-right: 0;
  }
}

@include desktop-size {
  .main-header-menu__logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
