.page-content__container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-content  {
  color: #333333;

  &>a {
    color: #6ec656;
  }

  &>p {
    margin: 0 0 15px;

    font-size: 14px;
  }

  &>h3 {
    margin-top: 0;
    margin-bottom: 20px;

    line-height: 1;
  }

  &>h4 {
    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1;
  }

  &>ul {
    margin-bottom: 10px;
  }

  &>table {
    width: 100%;
    margin-bottom: 15px;

    border-collapse: collapse;
  }

  &>td {
    padding: 15px;

    border: 1px solid #000000;
  }

  &>th {
    padding: 15px;

    font-weight: 500;
    border: 1px solid #000000;
  }

  &>iframe {
    width: 100%;
    height: auto;
  }
}

.page-content__table {
  td {
    padding: 15px;

    border: 1px solid #000000;
  }
}

.page-content__category-child {
  margin-top: 20px;
}

@include desktop-size {
  .page-content__container {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-content {
    p {
      font-size: 16px;
    }
  }

  .page-content__additional-menu {
    width: 240px;
    flex-shrink: 0;
  }

  .page-content__main {
    flex-grow: 2;
    margin-right: 40px;
  }
}
