.single-product__photo {
  margin-bottom: 20px;
}

.single-product__title {
  margin-top: 0;

  line-height: 1.2;
}

@include desktop-size {
  .single-product__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .single-product__photo {
    flex-shrink: 0;
    width: 48%;
    height: 335px;
    margin-right: 40px;

    overflow: hidden;
  }

  .single-product__excerpt {
    flex-grow: 1;
    width: 48%;
  }
}
